.hero {
    background-image: url("../images/splash-hero.svg");
    background-position: top -4rem right;
    background-repeat: no-repeat;

    position: relative;

    margin-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.hero__text {
    width: 12.5rem;

    margin-bottom: 1.55rem;
}

.hero__image {
    position: absolute;
    top: 3.25rem;
    right: 0;
}

.hero__form {
    position: relative;

    z-index: 2;
}